* {
    margin: 0;
    padding: 0;
    font: inherit;
} 
.navbar {
      display: flex;              
      align-items: center;        
      justify-content: space-between; 
      background: #f8f8f8;
      padding: 15px 30px;
      text-decoration: none;
      
    }

.nav-links {
      list-style: none;
      display: flex;
      gap: 25px;                 
      margin: 0;
      padding: 0;
    }
.nav-links a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }
.nav-links a:hover {
      color: tomato;
      transition-duration: 0.5s;
      transform: scale(1.5);
}


.navbar .title {
      font-size: 24px;
      font-weight: bold;
      color: tomato;
}
.home {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 30px;
}
.home-info {
      flex: 1;
      padding-right: 30px;
}
.home img {
      max-width: 100%;
      height: auto;
      /* mix-blend-mode: color-dodge; */
      border-radius: 100%;
}
.name {
      font-size: 100px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
}
.details {
      font-size: 35px;
      color: #666;
      margin-bottom: 20px;
}