* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    background: #cfd0d3;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: slateblue;
}

.title {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 0px;
    background-color: slateblue;
}

.nav-links {
    list-style: none;
    padding: 0;
    text-decoration: none;
    background-color: slateblue;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
    background-color: slateblue;
}
.nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: slateblue;
}
